################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.config
/bin/Debug/net7.0
/obj
/Properties
/appsettings.json
